{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'flights/style.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block header %}{% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>