{% extends 'flights/base.html' %}

{% block header %}
<h1>{% block title %}Flight{% endblock %}</h1>
{% endblock %}

{% block body %}
<ul>
    <li>Origin: {{ flight.origin }}</li>
    <li>Destination: {{ flight.destination }}</li>
    <li>Duration: {{ flight.duratiion }}</li>
</ul>

<h2>Passengers</h2>
<ul>
    {% for passenger in passengers %}
    <li>{{ passenger }}</li>
    {% empty %}
    <li>No passengers.</li>
    {% endfor %}
</ul>

{% if non_passengers %}
<h2>Add a Passenger</h2>
<form action="{% url 'book' flight.id %}" method="post">
    {% csrf_token %}
    <select name="passenger">
        {% for passenger in non_passengers %}
        <option value="{{ passenger.id }}">{{ passenger }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Book Flight" />
</form>
{% else %}
<div>No passengers to add.</div>
{% endif %}
{% endblock %}
