{% extends 'flights/base.html' %}

{% block header %}
<h1>{% block title %}Flights{% endblock %}</h1>
{% endblock %}

{% block body %}
<ul>
    {% for flight in flights %}
    <li><a href="{% url 'flight' flight.id %}">{{ flight }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
